@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black; /* Cambia el color de fondo según tus preferencias */
  height: 40px;
  padding: 8px;
  border-bottom: 2px solid #f49cbb;
}
.header-home .conteiner {
  display: flex;
  margin: 0;
}
.header-home .conteiner .navbar {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
.header-home .conteiner .navbar .navbar-brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  background-color: transparent;
}
.header-home .conteiner .navbar .navbar-brand .icon {
  margin: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-home .conteiner .navbar .navbar-brand .navbar-burger {
  display: flex;
  background-color: transparent;
}
.header-home .conteiner .navbar .navbar-brand .navbar-burger span {
  color: white;
}
.header-home .conteiner .navbar .navbar-menu {
  padding: 0;
  border-radius: 10px;
  background-color: white;
}
.header-home .conteiner .navbar .navbar-menu .navbar-start {
  background-color: white;
  border-radius: 10px;
}
.header-home .conteiner .navbar .navbar-menu .navbar-start .navbar-border {
  border-radius: 10px;
}

.container-brand {
  display: flex;
  font-size: 1.5rem;
}
.container-brand .link-logo {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.container-brand .link-logo:hover {
  transform: scale(1.1);
}
.container-brand h1 {
  color: black;
}
.container-brand a img {
  width: 30px;
  height: 30px;
}

.cart-icon {
  display: flex;
}
.cart-icon .icon {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
}
.cart-icon span {
  display: flex;
  color: white;
  font-size: 0.75rem;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-home {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.main-home .conteiner-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-home .conteiner-greeting .greeting {
  cursor: pointer;
  display: flex;
  font-size: 24px;
  margin-top: 3.75rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: #f49cbb;
  border-radius: 0.75rem;
  padding: 0.625rem;
  color: black;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.main-home .conteiner-greeting .greeting:hover {
  transform: scale(1.1);
}
.main-home .list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.main-home .list-container .cards-home {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}/*# sourceMappingURL=styles.css.map */