body{
    background-image: url('/src/components/assets/cropped-1368-672-1300282.jpg'); 
    background-size:contain; /* Ajusta según tus preferencias */
    background-position: top center; /* Ajusta según tus preferencias */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}