
.cart-icon{
display: flex;
        .icon{
            width: 1.875rem;
            height: 1.875rem;
            display: flex;
        }
        span{
            display: flex;
            color: white;
            font-size: 0.75rem;
        }
}