.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Ajusta la altura según sea necesario */
  background-color: #eee;
  background-size: cover; /* Ajusta el tamaño del fondo */
  background-position: center; /* Ajusta la posición del fondo */
  transition: opacity 0.7s ease-in-out; /* Ajusta la duración de la transición */
  animation: fade 3s ease-in-out; /* Ajusta la duración de la animación */
  &.fade {
    animation: fade 5s ease-in-out;
  }
  img{
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
    object-fit: cover; /* Ajusta el tamaño y recorte de la imagen para cubrir el contenedor */
  }
  }


@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.7s ease-in-out; /* Ajusta la duración de la transición */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
