.containerItemDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.625rem;
  .CardItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    width: 40%;
    .add-to-cart-button {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 0.5rem;
      }
    svg{
      width: 40px;
      height: 40px;
    }
  }
}
