    .containerItemCount {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        h1 {
        text-align: center;
        }
    
        .counter-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    
        .counter-button {
            font-size: 1.5rem;
            padding: 5px 10px;
            cursor: pointer;
            margin: 4px;
        }
    
        .counter {
            font-size: 1.2rem;
            margin: 0 10px;
        }
        }
    }
    
    
