
    .sectionContact{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 400px;
        .contactDiscount{
            img{
                margin-top: 14px;
            }
        }
        .contactUs{
            p{
                margin-top:20px ;
            }
        }
    }
