.containerInfoProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 182px;
    margin-top: 1.0625rem;
}