.containerReserve{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 26.875rem;
    padding: 1.125rem;
}