.infoVenecia{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
    padding: 1.375rem;
    height: 506px;
}