html{
    scroll-behavior: smooth;
    body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // background-image: url('/src/components/assets/background-body.jpg'); 
        // background-size:contain; /* Ajusta según tus preferencias */
        // background-position: top; /* Ajusta según tus preferencias */
        // background-repeat: no-repeat; /* Evita que la imagen se repita */
        // border-bottom: 1px solid white;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }
}